@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Saira+Condensed:wght@300&display=swap');

body{
    font-family: 'Questrial', sans-serif;
    color:#4a4a49;
    background-image: url("login_bg.jpg");
    margin-bottom: 40px;
    margin-top:45px;
    animation: fadeInAnimation ease 1.5s;

}

div.topnav{
    background-color: #414141;
    padding-top:0px;
    height: 45px;
    width: 100%;
    padding:0px;
    margin:0px;
    position: fixed;
    top:0;
    left:0;
    margin-left: 0px;
    
}

h1{
    font-family: 'Saira Condensed', sans-serif;
    color:white;
    font-size: 3.2em;
}

h3{
    font-family: 'Saira Condensed', sans-serif;
    color:white;
    font-size: 1.2em;
}


div.login_box {
    min-width: 10%;
    max-width: 250px;
    margin-top: 1%;
    padding:30px;
    padding-top:5px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    border-width: 1px;
    border-color: whitesmoke;
    border-style: solid;
}

hr.login_box{
    height: 2px;
    background-color: whitesmoke;
    border-style: none;

    
}

input.login {
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-top:5px;
    width: 90%;
    outline: none;
    background-color: rgba(245, 245, 245, 0.87);
    text-align: center;
    font-size: 0.7em;
    font-family: 'Saira Condensed', sans-serif;
}

button.login_btn {
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top:2em;
    width: 90%;
    color:whitesmoke;
    background-image: radial-gradient(#0b4da5, #3594bd);
    font-family: 'Saira Condensed', sans-serif;
    font-size: 0.7em;
    
}

button.login_btn:hover {
    background-color: grey;
    color:whitesmoke;
    background-image: radial-gradient(#003e8f, #3594bd);    

}


li.topnav{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}

a.topnav{
    text-decoration: none;
    color: whitesmoke;
    padding: 8px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(211, 211, 211, 0);
    border-width: 1px;
}

a.topnav:hover{

    border-style:solid;
    border-color: lightgray;
    border-width: 1px;  
}



a.create{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 0.7em;
    text-decoration: none;
    color:#3594bd;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

a.create:hover{
    color:whitesmoke;
}


div.footer{
    background-color: #414141;
    padding-top:0px;
    height: 40px;
    width: 100%;
    padding:0px;
    margin:0px;
    position: fixed;
    bottom:0;
    left:0;
    margin-left: 0px;
    
}

p.footer{
    color:whitesmoke;
    font-size: 0.8em;
}

p.errors{
    color:red;
    font-size: 0.8em;
    font-family: 'Saira Condensed', sans-serif;
    transition: width 2s;
    background-color: rgba(2, 0, 0, 0.164);
    text-transform: uppercase;
    border-radius: 3px;
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100%{opacity: 1;}
    }