@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Saira+Condensed:wght@300&display=swap');

body{
    font-family: 'Questrial', sans-serif;
    color:#4a4a49;
    background-image: url("login_bg.jpg");
    margin-bottom: 40px;
    margin-top:45px;
    animation: fadeInAnimation ease 1.5s;
}

div.topnav{
    background-color: #414141;
    padding-top:0px;
    height: 45px;
    width: 100%;
    padding:0px;
    margin:0px;
    position: fixed;
    top:0;
    left:0;
    margin-left: 0px;
    
}

h1{
    font-family: 'Saira Condensed', sans-serif;
    color:white;
    font-size: 3.2em;
}

li.topnav{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}

a.topnav{
    text-decoration: none;
    color: whitesmoke;
    padding: 8px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(211, 211, 211, 0);
    border-width: 1px;
}

a.topnav:hover{

    border-style:solid;
    border-color: lightgray;
    border-width: 1px;  
}

a.useroption{
    text-decoration: none;
    display: inherit;
    color: whitesmoke;
    border-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
    border-style: solid;
    background-image: linear-gradient(270deg, rgba(190, 190, 190, 0.603) 0%, rgba(252,252,252,0) 100%);
    border-width: 1px;
    margin-top:25px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: left;
    font-size: 0.8em;

}

a.useroption:hover{
    border-style:solid;
    border-color: whitesmoke;
    border-width: 1px;   
    background-image: linear-gradient(270deg, rgba(19, 9, 117, 0.603) 0%, rgba(252,252,252,0) 100%);

}

img.useroption{
    height: 35px;
    display: inline-block; 
    vertical-align: middle;
    margin-right: 10px;
}

p.useroption{
    display: inline-block; 
    text-transform: lowercase; 
    margin:0px;
    font-style: italic;
    margin-left:10px;
    color:rgb(136, 136, 136);
}

div.contentbox {
    background-image: linear-gradient(toright,#cbeffb,#cbeffbb2, #757b7c59);
    min-width: 50%;
    max-width: 70%;
    margin-top: 1%;
    padding:30px;
    padding-top:5px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    border-width: 1px;
    border-color: whitesmoke;
    border-style: solid;
}


input.login {
    border: 5px;
    border-radius: 1px;
    padding: 10px;
    margin-top:5px;
    width: 90%;
    outline: none;
    background-color: rgba(245, 245, 245, 0.87);
    text-align: center;
    font-size: 0.7em;
    font-family: 'Saira Condensed', sans-serif;
}

button.login_btn {
    border: 1px;
    border-radius: 2px;
    padding: 10px;
    margin-top:2em;
    width: 90%;
    color:whitesmoke;
    background-image: radial-gradient(#0b4da5, #3594bd);
    font-family: 'Saira Condensed', sans-serif;
    font-size: 0.7em;
    
}

button.login_btn:hover {
    background-color: grey;
    color:whitesmoke;
    background-image: radial-gradient(#003e8f, #3594bd);    

}

div.footer{
    background-color: #414141;
    padding-top:0px;
    height: 40px;
    width: 100%;
    padding:0px;
    margin:0px;
    position: fixed;
    bottom:0;
    left:0;
    margin-left: 0px;
    
}

p.footer{
    color:whitesmoke;
    font-size: 0.8em;
}

p.errors{
    color:red;
    font-size: 0.8em;
    font-family: 'Saira Condensed', sans-serif;
    transition: width 2s;
    background-color: rgba(2, 0, 0, 0.788);
    text-transform: uppercase;
    border-radius: 3px;
}

@keyframes fadeInAnimation {
0% {opacity: 0;}
100%{opacity: 1;}
}

